* {
	background-image: none;
	box-shadow: none;
	/*backdrop-filter: blur(10px);*/
	text-shadow: 0px 0px 2pt #0030ff;
}

window {
	background-color: rgba(32, 32, 32, 0.5);
}

button {
    border-radius: 6pt;
    border-color: rgba(32, 224, 224, 0.1);
	text-decoration-color: #00FF00;
    color: #337799;
	background-color: rgba(8, 20, 30, 0.85);
	border-style: solid;
	border-width: 3.5pt;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	/*opacity: 0.05;*/
}

button:focus, button:active, button:hover {
    border-color: rgba(55, 112, 240, 0.9);
	background-color: rgba(8, 20, 30, 0.94);
	/*background-color: #3700B3;*/
	outline-style: none;
        color: #FFFFFF;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("$USER/.config/wlogout/alphablank.png"));
    background-blend-mode: multiply;
    background-blend-mode: normal;
}
#lock:hover {
    border-color: rgba(255, 112, 240, 0.9);
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("$USER/.config/wlogout/alphablank.png"));
    background-blend-mode: multiply;
    background-blend-mode: normal;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("$USER/.config/wlogout/alphablank.png"));
    background-blend-mode: multiply;
    background-blend-mode: normal;
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("$USER/.config/wlogout/alphablank.png"));
    background-blend-mode: multiply;
    background-blend-mode: normal;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("$USER/.config/wlogout/alphablank.png"));
    background-blend-mode: multiply;
    background-blend-mode: normal;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("$USER/.config/wlogout/alphablank.png"));
    background-blend-mode: multiply;
    background-blend-mode: normal;
}
